
  :root  {
      --black: #171321;
      --dkblue: #0d314b;
      --plum: #4b0d49;
      --hotmag: #ff17e4;
      --aqua: #86fbfb;
      --white: #f7f8fa;
      --font-size: 1.3rem;
      --mono: monospace;
      --sans: sans-serif;
    
  }

  * {
    box-sizing: border-box;
  }

  
  body {
    color: var(--white);
    background-color: var(--dkblue);
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
  }

  .landing {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .balls-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }


  .ball-one {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: palevioletred;
  }

  .ball-two {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: var(--plum);
  }

  .ball-three {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: var(--plum);
  }

